@import url('https://fonts.cdnfonts.com/css/impact');
@import url('https://fonts.cdnfonts.com/css/arial-narrow-7');
@import url('https://fonts.cdnfonts.com/css/lucida-console');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, sans-serif;
}

.container {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, lime, lightgreen, lightblue, cyan);
}

.card {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    user-select: none;
}

h1 {
    text-align: center;
    user-select: none;
}

select {
    user-select: none;
    width: 250px;
    text-align: center;
    margin: auto;
    padding: 5px;
    margin-top: 15px;
    border-radius: 7px;
    outline: none;
    border: 1px black solid;
    background: rgba(255, 255, 255, 0.35);
    transition: 2.5s;
}

select:hover {
    border: 1px white solid;
    background: #333;
    color: white;
    transition: 2.5s;
}

#warning {
    border: 1px solid red;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.5);
}

ul#ulo {
    border: 1px red solid;
    list-style: none;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

li {
    font-family: 'Lucida Console', sans-serif;
}

h3 {
    margin-top: 200px;
    text-decoration: none;
    user-select: none;
}

/* @HanSiBinUz */