@import url('https://fonts.cdnfonts.com/css/lucida-console');
pre {
    white-space: pre-wrap;
    border: 2.5px black solid;
    width: 500px;
    height: 200px;
    overflow: auto;
    background: #1e1e1e;
    text-align: start;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Lucida Console', sans-serif;
    user-select: all;
}

.copy-btn1,
.copy-btn2,
.copy-btn3 {
    display: block;
    margin: 0px 0px 5px 0px;
    padding: 0px 10px;
    background-color: #4caf50;
    color: white;
    
    border: 2.5px solid black;border-top: none;
    cursor: pointer;
    width: 500px;
    height: 30px;
}